.dialog_control_required
{
	font-family: tahoma,arial;
	font-size: 8pt;
	background-image: url(/shared/resources/images/dialog/required-field.gif);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #ffffff;
}

.dialog_control_readonly
{
	font-family: tahoma,arial;
	font-size: 8pt;
	background: lightyellow;
}

.dialog_control
{
	font-family: tahoma,arial;
	font-size: 8pt;
	background: #ffffff;
}

.dialog-button
{
	font-family: tahoma,arial;
	font-size: 8pt;
}