a:Visited    { color: #483d8b; font-family: Tahoma; text-decoration: underline }
a:Link    { color: #483d8b; font-family: Tahoma; text-decoration: underline }
a:active   { color: #483d8b; font-family: Tahoma; text-decoration: underline }
a:Hover { font-family: Tahoma; text-decoration: none }
