body {
	background:white;
}
.tag{
	color:blue;
}
.endtag{
	color:blue;	
}
.reference{
	color:black;
}
.name{
	color:maroon;
}
.value{
	color:green;
}
.text{
	font-weight:bold;
	color:black;
}
.reservedWord{
	color:blue;
}
.identifier{
	color:black;
}
.literal{
	color:maroon;
}
.separator{
	color:navy;
}
.operator{
    font-weight:bold;
    color:navy;
}
.comment{
	color:#999999;
}
.preprocessor{
	color:purple;
}
.whitespace{
}
.error{
	color:red;
}
.unknown{
	color:orange;
}
