.required 
{
	font-family: tahoma,arial;
	font-size: 8pt;
	background-image: url(/shared/resources/images/dialog/required-field.gif);
	background-position: top right; 
	background-repeat: no-repeat; 
}
.dialog_control
{
	font-family: tahoma,arial;
	font-size: 8pt;
}